<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="sidenav.toggle()">
      <i class="fa fa fa-bars fa-2x"></i>
    </button>
    <span>Book Shelve</span>
    <span class="app-spacer"></span>
    <a class="github-link">
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      GitHub
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="!mobileQuery.matches">
    <mat-list>
      <mat-list-item>
        <a routerLink="/books">
          <i class="fa fa-list"></i> Books
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a href="google.com" target="_blank">
          <i class="fa fa-github"></i>GitHub
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a href="google.com" target="_blank">
          <i class="fa fa-newspaper-o"></i>Blog
          </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
